* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #000000;
}

main {
    place-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    color: #ffffff;
}

.title, .footer-text, .form a {
    text-align: center;
}

footer {
    align-items: center;
    justify-content: space-around;
}

.footer-text {
    color: #ffffff;
    font-size: 14px;
    margin-top: 16px;
    padding: 24px;
}

.form-input, .form-textarea, .form-button {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 4px;
    font-size: 16px;
}

.form-input, .form-textarea {
    padding: 16px;
}

.form-input, .form-button {
    height: 40px;
}

.form-button {
    cursor: pointer;
    background-color: #25d366;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 48px;
}

.form-button .button-text {
    margin-right: 8px;
}

.form a {
    color: #25d366;
}

.form-label, .form-legend {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    color: #ffffff;
}

.form-fieldset {
    margin-bottom: 16px;
    border: 1px solid #25d366;
    border-radius: 4px;
    padding: 16px;
}

.form-radio, .form-checkbox {
    margin-right: 8px;
    accent-color: #25d366;
}

.select-sexo {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
}